.burger-ingredients {
  max-width: 600px;
}

.burger-ingredients__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #f2f2f3;
}

.burger-ingredients__list {
  margin: 0px;
  padding: 0px;
  max-height: calc(100vh - 285px);
  overflow: overlay;
}

.burger-ingredients__list-item {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
