.app-header {
  min-width: 1280px;
  background-color: #1c1c21;
}
.app-header__container {
  align-items: center;
  max-width: 1280px;
  margin: auto;
  display: flex;
}

.app-header__button {
  display: flex;
  align-items: center;
  height: 24px;
}

.app-header__button_last {
  margin-left: auto;
}

.app-header__logo {
  margin-left: 112px;
}
